[build]
  publish = "out"
  command = "npm run deploy"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
included_files = ["content/**"]
